.venv/
.env
__pycache__/
*.pyc
node_modules/
.vscode/
*.class
target/
.DS_Store
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/terraform.tfvars
infra/terraform/google-cloud-sdk/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/terraform.tfvars
